@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JobPad</h1>
    <p>Tracking jobs made easy</p>
</div>
<div class="text-center">
    <a class="text-lg-center text-blue" asp-area="" asp-controller="Customers" asp-action="Create"> Create Customer </a>
</div>


